/*! ===== FONTS ===== */
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:400,600,700|Roboto:300,400,400i,700');
/* @import "_font_awesome.css" */
/*! ===== END FONTS ===== */

@tailwind base;
@layer base {
  body {
    @apply font-primary;
  }
  a {
    @apply text-primary transition-all;
  }
  a:hover,
  a:focus,
  a:active {
    @apply text-black
  }
}
@tailwind components;
@tailwind utilities;